
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="">
    <title>{{ page.title }}{% if page.url != '/' %} - Leefe{% endif %}</title>
    {% seo title=false %}
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
    <link href="/styles/all.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="text-muted"><img src="{{ site.logo }}" class="img-fluid" alt="{{ site.title }}"></h3>
          </div>
          <div class="col text-right">
            <a class="btn btn-primary" href="tel:{{ site.phone }}">{{ site.phone }}</a>
          </div>
        </div>
      </div>

      {{ content }}

      <footer class="footer">
        <div class="row">
          <div class="col">
            <p>&copy; {{ site.title }} 2017</p>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
    /*!
     * IE10 viewport hack for Surface/desktop Windows 8 bug
     * Copyright 2014-2017 The Bootstrap Authors
     * Copyright 2014-2017 Twitter, Inc.
     * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
     */

    // See the Getting Started docs for more information:
    // https://getbootstrap.com/getting-started/#support-ie10-width

    (function () {
    'use strict'

    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement('style')
      msViewportStyle.appendChild(
        document.createTextNode(
          '@-ms-viewport{width:auto!important}'
        )
      )
      document.head.appendChild(msViewportStyle)
    }

    }())
    </script>
  </body>
</html>
