---
layout: default
---

<div class="jumbotron">
  <h1 class="display-4">Sustainable tableware</h1>
  <p class="lead">
    At Leefe we envision to make our planet greener with our range of 100% natural areca leaf disposable tableware.
    Our tableware not only helps keep the nature clean but also provides a fine dine experience.
  </p>
</div>

<div class="row marketing marketing-primary text-center">
  <div class="col">
    <img src="/assets/world.svg" alt="Eco-Friendly" class="img-fluid pb-3">
    <h5>Eco-friendly</h5>
  </div>
  <div class="col">
    <img src="/assets/mill.svg" alt="Aesthetics" class="img-fluid pb-3">
    <h5>Aesthetics</h5>
  </div>
  <div class="col">
    <img src="/assets/rupee.svg" alt="Cost effective" class="img-fluid pb-3">
    <h5>Cost effective</h5>
  </div>
</div>

<div class="row marketing marketing-secondary text-center">
  <div class="col">
    <img src="/assets/nature.svg" alt="Durable" class="img-fluid pb-3">
    <p class="font-weight-bold">Durable</p>
  </div>
  <div class="col">
    <img src="/assets/salad.svg" alt="Food grade" class="img-fluid pb-3">
    <p class="font-weight-bold">Food grade</p>
  </div>
  <div class="col">
    <img src="/assets/water.svg" alt="Water resistant" class="img-fluid pb-3">
    <p class="font-weight-bold">Water resistant</p>
  </div>
  <div class="col">
    <img src="/assets/spaghetti.svg" alt="Thermally Resistant" class="img-fluid pb-3">
    <p class="font-weight-bold">Thermally resistant</p>
  </div>
  <div class="col">
    <img src="/assets/microwave.svg" alt="Microwave safe" class="img-fluid pb-3">
    <p class="font-weight-bold">Microwave safe</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <blockquote class="blockquote text-center text-primary">
      <p class="mb-0 font-italic">"Light as leaf. Sturdy as steel."</p>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="lead">
      We provide a wide range of disposable tableware from plates, bowls to cutlery available in different shapes and sizes to fulfill all your serving needs.
    </p>
    <p class="lead">
      To buy, share with us your requirements and we will get back to you with the details. Let’s make our planet greener, together.
    </p>
    <p class="text-center">
      <a href="mailto:{{ site.email }}" class="btn btn-primary btn-lg mb-4 d-none d-sm-inline-block">Contact Us</a>
      <a href="mailto:{{ site.email }}" class="btn btn-primary btn-lg mb-4 d-sm-none">Email Us</a>
      <a href="tel:{{ site.phone }}" class="btn btn-primary btn-lg mb-4 d-sm-none">Call Us</a>
    </p>
  </div>
</div>
